.Burger{
    width: 350px;
    height: 250px;
  /*  overflow: scroll;
    width: 100%;
    margin-left: 30%;
    margin-left: 0px; */
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-y: scroll;
}

@media (min-width:300px) and (max-width:500px){
    .Burger{
        width: 75%;
    }
}
@media (min-width:301px) and (max-width:399px){
    .Burger{
        width: 100%;
    }
}


@media (min-width:500px)and(min-height:400px){
    .Burger {
        width: 350px;
        height: 300px;
    }
}
@media (min-width:500px)and(min-height:401px){
    .Burger {
        width: 450px;
        height: 400px;
    }
}
@media (min-width:1000px)and(min-height:700px){
    .Burger {
        width: 700px;
        height: 600px;
    }
}